<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>Nothing to Say!</p>

        <p><strong>About name</strong></p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>puresmile2</strong>（备注：博客）</li>
        </ul>

       <h2>
         Note
       </h2>

       <h2>
         Donate
       </h2>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>